// bower:scss
// endbower

body {
	margin: 0;
	font-family: BentonSans, helvetica, sans;
}

.modal {
	padding: 1em;
	box-shadow: 0 0 7em -1em black;
	background-color: white;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 4em;
}

.o-header__primary__right {
	text-align: right;
}

.errormsg {
	display: none;
}

.errormsg.visible {
	display: block;
}

.erdos {
	#erdos-form {
		margin-bottom: 40px;
		label {
			display: inline-block;
		}
		input[type=text] {
			width: 250px;
			max-width: 250px
		}
	}
	#result {
		margin-left: 200px;
	}
	.person {
		border: 1px solid #777;
		list-style-type: none;
		display: inline-block;
		padding: 3px 5px;
		border-radius: 2px;
		font-weight: bold;
		transform: translateX(-50%);
		box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.2);
	}
	.articles {
		margin: 0 10px 0 0;
		padding: 1px 0 1px 20px;
		list-style-type: none;
		border-left: 2px dashed black;
		li {
			clear: both;
			margin: 25px 0;
			position: relative;
			img {
				position: absolute;
				top: 0;
				left: 0;
				transform: translateX(calc(-100% - 40px));
				max-height: 80px;
			}
			a { font-weight: bold; }
			p {
				margin: 0
			}
		}
	}
}
