// bower:scss
// endbower

body, html {
	margin: 0;
	height: 100%;
	font-family: BentonSans, helvetica, sans;
}

.modal {
	position: fixed;
	bottom: 0;
	left: 0;
	top: auto;
	width: 100%;
	opacity: 0.5;
	font-size: 12px;
	box-sizing: border-box;
	padding: 3px 5px;
	background-color: rgba(0, 0, 0, 0);
}

.o-header__primary__right {
	text-align: right;
	width: 150px;
}

.errormsg {
	display: none;
}

.errormsg.visible {
	display: block;
}

.d3-label {
	fill: none;
	fill-opacity: 1;
	stroke: #FFF;
	stroke-width: 0.5px;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-opacity: 1;
	stroke-alignment: outer;
	z-index: 10;
	font-size: 10pt;
	font-weight: bold;
	pointer-events: none;
	font-family: BentonSans, helvetica, sans;
}

.erdos {
	#erdos-form {
		margin-bottom: 40px;
		label {
			display: inline-block;
		}
		input[type=text] {
			width: 250px;
			max-width: 250px
		}
	}
	#result {
		margin-left: 200px;
	}
	#people-count {
		font-weight: bold;
	}
	.person {
		border: 1px solid #777;
		list-style-type: none;
		display: inline-block;
		padding: 3px 5px;
		border-radius: 2px;
		font-weight: bold;
		transform: translateX(-50%);
		box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.2);
	}
	.articles {
		margin: 0 10px 0 0;
		padding: 1px 0 1px 20px;
		list-style-type: none;
		border-left: 2px dashed black;
		li {
			clear: both;
			margin: 25px 0;
			position: relative;
			.themes {
				text-transform: uppercase;
				font-weight: bold;
				font-size: 12px;
				line-height: 14px;
			}
			img {
				position: absolute;
				top: 0;
				left: 0;
				transform: translateX(calc(-100% - 40px));
				max-height: 80px;
			}
			a { font-weight: bold; }
			p {
				margin: 0
			}
		}
	}
}

.settings-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	max-width: 18em;
	z-index: 5;

	.sappy-settings {
		visibility: hidden;
		&:hover {
			visibility: visible;
		}
	}

	.collapse-trigger {
		cursor: pointer;
	}

	.collapsed .collapsable {
		display: none;
	}

	.sappy-settings_slider-title,
	.sappy-settings_slider {
		display: block;
		text-transform: capitalize;
	}

	.sappy-settings_slider {
		padding: 0.2em;
		border: 1px solid #AAA;
		background-color: #CCC;
		border-width: 1px 0 1px 0;
		margin: 0.2em;
	}

	.sappy-settings_slider-title {
		margin-top: 1em;
	}

	.sappy-settings_person-selector {
		cursor: pointer;

		&:hover {
			background-color: rgba(0,0,0,0.2);
		}
	}

	.o-techdocs-card__subtitle {
		white-space: normal;
	}
}

.graph-layout {
	display: flex;
	width: 100%;
	overflow: hidden;
}

.graph-area {
	overflow: hidden;
	flex: 4 0 auto;
}

.information {
	background: #333;
	color: white;
	padding: 10px;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	flex-direction: column;
	width: 30%;

	* {
		box-sizing: border-box;
	}

	.person-of-interest {
		text-align: center;
	}

	.time {
		font-size: 20px;
		text-align: center;
		padding: 0.5em 0;
		margin: 0.5em;
		border: solid grey;
		border-width: 4px 0;
		time {
			font-weight: bold;
		}
	}

	h3 {
		font-weight: normal;
		font-size: 30px;
		line-height: 1;
		color: #FFD3A2;
	}

	.bullet {
		font-size: 65px;
		line-height: 30px;
		color: #FF613C;
		display: inline-block;
		overflow: hidden;
	}

	.topics {
		flex: 1;
		width: 100%;
		margin-top: 0.5em;

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0.5em;
			margin-top: 0.5em;
		}

		li {
			padding: 0.5em 0;
			border: solid grey;
			border-width: 0 0 1px 0;

			&:first-child {
				border-width: 1px 0;
			}
		}
	}

	.content {
		flex: 0;
		color: #ccc;
		align-self: flex-end;
	}

	.logo {
		background-color: #FFDDB9;
		display: inline-block;
		width: 53px;
		height: 50px;
		overflow: hidden;
		margin-right: 10px;
		flex: 0 0 50px;
	}

	.logo img {
		width:  100%;
		padding: 8px;
	}

	time .dow {
	}

	time span {
		line-height: 1;
	}

	.brand {
		color: #FFD500;
	}

	a {
		color: #FFD500;
		text-decoration: none;
	}
}
